{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}


{% block menu %}
    <style>
    .customStyles{
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .row{
        justify-content: center;
    }
    </style>

    <header class="masthead" style="background-image: url('{% static "News/img/comment.jpg" %}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto position-relative">
                <div class="site-heading">
                    <h1>Add a comment</h1><span class="subheading">To Mark Your Presence</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
    <div class="card customStyles">
  <h1 style="text-align: center">New Comment</h1>
        <br>
    <p><span style="font-weight: bold; font-size: 1rem;">Author:</span> {{user}}</p>
  <form class="post-form" method="post">
    {% csrf_token %}
      {% bootstrap_form form %}
{#    {{form.as_p}}#}
    <button type="submit" class="btn btn-outline-primary">Post Comment</button>
  </form>
    </div>
  <script>var editor= new MediumEditor('.editable')</script>
{% endblock %}
