{% extends "base.html" %}
{% load static %}
{% block menu %}
    <header class="masthead" style="background-image: url('{% static "News/img/contact-bg.jpg" %}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto position-relative">
                <div class="site-heading">
                    <h1>About Me</h1><span class="subheading">This is what I do</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
    {#<-------------------------------Only make changes in this block, FROM HERE------------------------------>#}
    <h1>About this company</h1>
    <p>Thanks for checking it out! Testing team!</p>
    {#<-------------------------------Only make changes in this block, TO HERE------------------------------>#}
{% endblock %}
