{% extends "base.html" %}
{% load static %}
{% block menu %}
<header class="masthead" style="background-image: url('{% static "News/img/about-bg.jpg" %}');">
            <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading">
                        <h1>SRM Bulletin</h1><span class="subheading">For Students By Students</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
  {% for post in post_list %}
      {% if post.author == user %}
    <div class="post">
      <h1><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h1>
      <p>{{post.text|safe|linebreaksbr|truncatechars:200}}</p>
     <p style="margin-bottom:-1px ;">Created: {{post.create_date|date:"d-m-Y"}}</p>
    </div>
      {% endif %}
  {% empty %}
      <p>No Drafts to publish</p>
  {% endfor %}
{% endblock %}
