{% extends "base.html" %}
{% load static %}
{% block menu %}
<style>
    .customStyles{
      padding: 2rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .row{
            justify-content: center;
        }
    .noDraftText{
        font-weight: 500;
        line-height: 1.14;
        font-size: 2rem;
        text-align: center;
    }
    </style>
<header class="masthead" style="background-image: url('{% static "News/img/draft.png" %}');">
            <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading">
                        <h1>Draft Your Notices Here</h1><span class="subheading">Right Place for Right Brains</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}

<div class="card customStyles">
  {% for post in post_list %}
      {% if post.author == user %}
    <div class="post">
      <h1><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h1>
      <p>{{post.text|safe|linebreaksbr|truncatechars:200}}</p>
     <p style="margin-bottom:-1px ;">Created: {{post.create_date|date:"d-m-Y"}}</p>
    </div>
          <hr />
      {% endif %}
  {% empty %}
      <p class="noDraftText">No Drafts to publish</p>
  {% endfor %}
</div>
{% endblock %}
