{% extends 'base.html' %}
{% load static %}

{% block menu %}
<header class="masthead" style="background-image: url('{% static "News/img/about-bg.jpg" %}');">
            <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading">
                        <h1>Notes</h1><h6>Useful Resources</h6><span class="subheading">For Students By Students</span>
                    </div>
                </div>
            </div>
        </div>
 

<style>

.notesContainer {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin: 2.5rem;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

</style>
</header>
{% endblock %}

{% block welcome %}
<div class="notesContainer">
<div class="card text-center" style="width: 18rem;margin: 1rem;">
    <div class="card-body">
      <p class="card-text">Algorithm Design and Analysis</p>
      <a href="https://drive.google.com/file/d/1FEHw2ueUTVvPj-cVRT7g2j_3Xpo0Kiu6/view?usp=sharing" class="btn btn-primary">PDF Link</a>
    </div>
  </div>
  <div class="card text-center" style="width: 18rem; margin: 1rem;">
    <div class="card-body">
     
      <p class="card-text">Artificial Intelligence</p>
      <a href="https://drive.google.com/file/d/1BGn-izSt6n2M6iCN1ZOtjOOo0RFo45WK/view?usp=sharing" class="btn btn-primary">PDF Link</a>
    </div>
  </div>
  <div class="card text-center" style="width: 18rem; margin: 1rem;">
    <div class="card-body">
      <p class="card-text">BIG DATA BOOK</p>
      <a href="https://drive.google.com/file/d/1TIafESAAgR7i1iksiG_9mUXAfJfn8VoC/view?usp=sharing" class="btn btn-primary">PDF Link</a>
    </div>
  </div>
  <div class="card text-center" style="width: 18rem; margin: 1rem;">
    <div class="card-body">
      <p class="card-text">Computer Architecture</p>
      <a href="https://docs.google.com/presentation/d/1uP8l3-GSgeZWlAhSSFQlXfHNSG-oFz-x/edit?usp=sharing&ouid=111195107015859584505&rtpof=true&sd=true" class="btn btn-primary">PDF Link</a>
    </div>
  </div>
  <div class="card text-center" style="width: 18rem; margin: 1rem;">
    <div class="card-body">
      <p class="card-text">Computer Networks</p>
      <a href="https://drive.google.com/file/d/10p9DK7Uv6qfE3SZShdE1wTsy6V1xCydu/view?usp=sharing" class="btn btn-primary">PDF Link</a>
    </div>
  </div>
</div>
<div class="notesContainer">
    <div class="card text-center" style="width: 18rem;margin: 1rem;">
        <div class="card-body">
          <p class="card-text">Cryptography and Networks</p>
          <a href="https://docs.google.com/presentation/d/1AzzGo4Alw6tq7DRUUaKAvWsEv8YgEhol/edit?usp=sharing&ouid=111195107015859584505&rtpof=true&sd=true" class="btn btn-primary">PDF Link</a>
        </div>
      </div>
      <div class="card text-center" style="width: 18rem; margin: 1rem;">
        <div class="card-body">
          <p class="card-text">Data Mining</p>
          <a href="https://docs.google.com/presentation/d/1A9fFE_Mxkis0Kh-xHbGyRH8xIem3smfQ/edit?usp=sharing&ouid=111195107015859584505&rtpof=true&sd=true" class="btn btn-primary">PDF Link</a>
        </div>
      </div>
      <div class="card text-center" style="width: 18rem; margin: 1rem;">
        <div class="card-body">
          <p class="card-text">Data Structures Nad Algorithms</p>
          <a href="https://docs.google.com/document/d/1xFoO5d7zifu1r-VwVkPP25B2fJHvYSlU/edit?usp=sharing&ouid=111195107015859584505&rtpof=true&sd=true" class="btn btn-primary">PDF Link</a>
        </div>
      </div>
      <div class="card text-center" style="width: 18rem; margin: 1rem;">
        <div class="card-body">
          <p class="card-text">DBMS</p>
          <a href="https://drive.google.com/file/d/1WKc58F08aNguF36J1McrXK0b9ltVoNsu/view?usp=sharing" class="btn btn-primary">PDF Link</a>
        </div>
      </div>
      <div class="card text-center" style="width: 18rem; margin: 1rem;">
        <div class="card-body">
          <p class="card-text">Discrete mathematics</p>
          <a href="https://drive.google.com/file/d/1DzFIqQJ6Mw1hVbFdbImy3wTMVdjQMQMn/view?usp=sharing" class="btn btn-primary">PDF Link</a>
        </div>
      </div>
    </div>
</div>
<div class="notesContainer">
    <div class="card text-center" style="width: 18rem;margin: 1rem;">
        <div class="card-body">
          <p class="card-text">Machine Learning</p>
          <a href="https://drive.google.com/file/d/1mInOr33c-REBFTI8hcg_isc3samRC9om/view?usp=sharing" class="btn btn-primary">PDF Link</a>
        </div>
      </div>
      <!-- <div class="card text-center" style="width: 18rem; margin: 1rem;">
        <div class="card-body">
          <p class="card-text">Neuron Fuzzy and Genetic Programming</p>
          <a href="https://drive.google.com/file/d/1A3N2-qXR0c9M2RfE-EfpEjMvy7wEqEB-/view?usp=sharing" class="btn btn-primary">PDF Link</a>
        </div>
      </div> -->
      <div class="card text-center" style="width: 18rem; margin: 1rem;">
        <div class="card-body">
          <p class="card-text">OOP in C++</p>
          <a href="https://drive.google.com/file/d/1qfn3WXDJQ7cUYsMQKXLOCEgFO2Bo7Wf2/view?usp=sharing" class="btn btn-primary">PDF Link</a>
        </div>
      </div>
      <div class="card text-center" style="width: 18rem; margin: 1rem;">
        <div class="card-body">
          <p class="card-text">Operating systems</p>
          <a href="https://drive.google.com/file/d/1Qoz-r1BUb7e36rhA-f8Bsug2bNHJV6Ai/view?usp=sharing" class="btn btn-primary">PDF Link</a>
        </div>
      </div>
      <div class="card text-center" style="width: 18rem; margin: 1rem;">
        <div class="card-body">
          <p class="card-text">Python</p>
          <a href="https://docs.google.com/document/d/15q_fGnoTAcfSu4H_R6osG6dTYUGQPc1L/edit?usp=sharing&ouid=111195107015859584505&rtpof=true&sd=true" class="btn btn-primary">PDF Link</a>
        </div>
      </div>
      <div class="card text-center" style="width: 18rem; margin: 1rem;">
        <div class="card-body">
          <p class="card-text">Semiconductors</p>
          <a href="https://drive.google.com/file/d/1Bs2jHAIhTewb6aGZO-t3FL6KMhm9GqgE/view?usp=sharing" class="btn btn-primary">PDF Link</a>
        </div>
      </div>
    </div>
 </div>
</div>
{% endblock %}