<link rel="stylesheet" href="../../static/css/buttonStyles.css">
{% extends "base.html" %}
{% load static %}
{#{% load bootstrap4 %}#}

{% block menu %}
<style>
.customStyles{
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .row{
        justify-content: center;
    }

    .giphy{
        display: flex;
  flex-direction: row;
  justify-content: space-around;
    }
</style>

<header class="masthead" style="background-image: url('{% static "News/img/new-post.jpg" %}');">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading">
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
<div class="card customStyles">
    <div class="giphy">
        <div>
            <h1 style="text-align: center">New Post</h1>
            <br>
            <form class="post-form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
      <!-- <button type="submit" class="btn btn-outline-primary">Save</button> -->
       <a href="#" class="frame">
        <button type="submit" class="custom-btn btn-3"><span>SAVE</span></button>
      </a>
        </form>
        </div>
        <div>
            <img src="{% static "News/img/new.gif" %}" width="150rem" style="border-radius:15px;">
        </div>
    </div>
  
</div>
  <script>var editor = new MediumEditor('.editable');</script>

{% endblock %}
