<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
{% extends "base.html" %}
{% load static %}
{% block menu %}
<style>
    .customStyles{
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .deletePost{
        font-weight:bolder;
        font-size: 2rem;
        font-family: 'Roboto', sans-serif;
    }
    .structure{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    h6{
        font-family: 'Roboto', sans-serif;
    }
    .row{
        justify-content: center;
    }
</style>
    <header class="masthead" style="background-image: url('{% static "News/img/delete.gif" %}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto position-relative">
                <div class="site-heading">
                    <h1>Post Confirm Delete</h1><span class="subheading">This is what I do</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
<div class="card customStyles">
  <form method="post">
    {% csrf_token %}
    <div class="structure">
        <div>
            <p style="font-weight: bold; font-size: 1.5rem;">Are you sure you want to delete?</p>
            <p>
                <span class="deletePost">{{object}}
                </span>
            </p>
            <input type="submit" class="btn btn-danger" value="Confirm">
        </div>
        <div>
             <img src="{% static "News/img/the-trash-can.gif" %}" width="200rem" style="border-radius:15px;">
        </div>
    
</div>
  </form>
</div>
{% endblock %}
