{% extends "base.html" %}
{% load static %}
{% block menu %}
    <header class="masthead" style="background-image: url('{% static "News/img/contact-bg.jpg" %}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto position-relative">
                <div class="site-heading">
                    <h1>Post Confirm Delete</h1><span class="subheading">This is what I do</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete {{object}}</p>
    <input type="submit" class="btn btn-danger" value="Confirm">
  </form>
{% endblock %}
