{% extends "base.html" %}
{% load static %}
{% block menu %}
    <header class="masthead" style="background-image: url('{% static "News/img/contact-bg.jpg" %}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto position-relative">
                <div class="site-heading">
                    <h1>About Me</h1><span class="subheading">This is what I do</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
<h1>Subscription</h1>
<p>Thanks for Subscribing Us!!</p>
    <form class="post-form" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-outline-primary">Post Comment</button>
  </form>
  <script>var editor= new MediumEditor('.editable')</script>
{% endblock %}