{% extends 'base.html' %}
{% load static %}
{% block menu %}
<style>
    .customStyles{
      padding: 2rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .row{
            justify-content: center;
        }
    .logOutText{
        font-weight: 500;
        line-height: 1.14;
        font-size: 2rem;
        text-align: center;
    }
    </style>
<header class="masthead" style="background-image: url('{% static "News/img/thanks.png" %}');">
            <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading">
                        <h1>SRM Bulletin</h1><span class="subheading">Solution for each students problems</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
<div class="card customStyles">
<h1 class="logOutText">Thanks for visiting, come back soon!</h1>
</div>
{% endblock %}
