{% extends "base.html" %}
{% load bootstrap4 %}

{% load static %}
{% block menu %}
<style>
    .customStyles{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .row{
            justify-content: center;
        }
</style>
<header class="masthead" style="background-image: url('{% static "News/img/login.jpg" %}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading">
                        <h1>Enter the Knowledge Mine</h1><span class="subheading">Welcome back to gold mine of resources</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}

<div class="card customStyles">
<div class="container">
  <h1>Log In</h1>
  <form method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-primary" value="Login">
  </form>
</div>
<div>
    <img src="{% static "News/img/loginicon.gif" %}" width="170rem" height="170rem" style=" margin-top:20%;">
</div>
</div>
{% endblock %}
